@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400&display=swap');


body{
    background: linear-gradient(45deg, #FF0000, #000000);
    border: 15px solid black;
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0px;
}

header {
    background-color: rgb(170, 30, 30);
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: -50px;
}

.logo {
    font-size: 34px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}


.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    text-decoration: none;
}

/* Стили для бургер-меню */
.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}
.my-button3 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 24px;
    border-radius: 0;
    padding: 5px;
    margin: 0px;
    color: white;
    text-decoration: none;
    border: 0;
    background-color: rgb(170, 30, 30);
    background: rgba(255, 255, 255, 0.1);
    text-transform: uppercase;
    transform-origin: left;
    position: relative;
    overflow: hidden;
    z-index: 1;
} 
.my-button3::before,
.my-button3::after {
    content: "";
    position: absolute;
    top: 0;
    width: 0; /* Начальная ширина - 0 */
    height: 100%;
    background-color: #000;
    transition: width 0.3s ease-in-out; /* Анимация изменения ширины */
}
  
.my-button3::before {
    left: 50%; /* Начальное положение в центре */
    transform: translateX(-50%); /* Центрируем полоску */
    z-index: -1; /* Устанавливаем z-index для псевдоэлемента ::before */
}
  
.my-button3::after {
    right: 50%; /* Начальное положение в центре */
    transform: translateX(50%); /* Центрируем полоску */
    z-index: -1; /* Устанавливаем z-index для псевдоэлемента ::after */
}
  
.my-button3:hover::before {
    width: 100%; 
}

@media screen and (max-width: 1204px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: black;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        padding: 10px;
        text-align: center;
        font-size: 20px;
        z-index: 99;
    }

    .nav-links.active {
        display: flex;
        text-align: center;
    }


    .burger-menu {
        display: flex;
    }

    .my-button3{
      border: 1px solid white;
      margin-bottom: 4px;
      border-radius: 10px;
      background: none;
      background-color: none;
    }

}

/* ---------------MAIN--------------- */
main {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Montserrat Alternates', sans-serif;
  /* font-size: 16px; */
  overflow: hidden;
}

.glassmorphism-form {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 600px;
  text-align: center;
  z-index: 1;
  position: relative;
}

.glassmorphism-form::before, .glassmorphism-form::after {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  width: 50px;
  height: 50px;
  z-index: -1;
}

.glassmorphism-form::before {
  top: -25px;
  left: -25px;
  border-radius: 5px;
}

.glassmorphism-form::after {
  bottom: -25px;
  right: -25px;
  border-radius: 5px;
}

.diagonal-squares::before, .diagonal-squares::after {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  width: 50px;  
  height: 50px;
  z-index: -1;
}

.diagonal-squares::before {
  top: -25px;
  right: -25px;
  border-radius: 5px;
}

.diagonal-squares::after {
  bottom: -25px;
  left: -25px;
  border-radius: 5px;
}

h2 {
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  /* font-size: 50px; */
}

.input-container {
  margin: 10px 0;
}

label {
  color: #fff;
  align-self: center; /* Выравнивание текста по вертикали по центру ячейки сетки */
  font-size: 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: max-content 1fr; /* Один столбец с фиксированной шириной и один автоматический столбец */
  gap: 10px; /* Расстояние между элементами в сетке */
  margin-bottom: 10px;
}

@media screen and (max-width:512px){
  .form-grid {
    grid-template-columns: 1fr; /* Один столбец с фиксированной шириной и один автоматический столбец */
  }
}

input {
  width: 100%;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 0px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  color: white;
  padding-left: 5px;
}

button {
  background: rgba(202, 98, 98, 0.644);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 10px;
  cursor: pointer;
  font-family: 'Montserrat Alternates', sans-serif;
}

.clip-path-square {
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  width: 50px;
  height: 50px;
  z-index: -1;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  border-radius: 5px;
}

.square-bottom-left { bottom: -30px; left: 10px;}
.square-bottom-right { top: -55px; right: 15px;}
.square-center-right { bottom: 55px; right: -100px;}

.square-center-left {
  position: absolute;
  top: 75px;
  left: -50px;
  width: 50px;
  height: 50px;
  animation: randomMovement 5s infinite;
}


@media screen and (max-width: 400px) {
    .input .label{
        font-size: 10px;
    }
}

/* ------------FOOTER--------- */

footer {
  background-color: black;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer p {
  text-align: center;
  color: #fff;
  margin: 8px 0 0;
  font-size: 1rem;
  font-weight: 300;
}
